.header {
	height: 70px;
	width: 100%;
	border-bottom: 1px solid var(--border-color);
}

.search-bar {
	height: 70px;
	position: relative;

	input {
		height: 100%;
		width: 100%;
		display: block;
		background-color: transparent;
		border: none;
		color: var(--body-color);
		padding: 0 35px;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23a1a4b9' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3e%3ccircle cx='11' cy='11' r='8'/%3e%3cpath d='M21 21l-4.35-4.35'/%3e%3c/svg%3e");
		background-repeat: no-repeat;
		background-size: 18px;
		background-position: 0 50%;
		font-family: var(--body-font);
		font-weight: 600;
		font-size: 14px;
		&::placeholder {
			color: var(--main-light-color);
		}
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px 0 30px;
}

.inbox-calendar {
	margin-right: 200px;
}

.color-menu {
	flex-shrink: 0;
}
