.user-profile-area {
	width: 360px;
	border-right: 1px solid var(--border-color);
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	overflow: auto;
}

.task-manager {
	font-size: 15px;
	color: var(--title-color);
	font-weight: 700;
	text-align: center;
	height: 70px;
	letter-spacing: 0.7px;
	line-height: 70px;
	position: sticky;
	top: 0;
	z-index: 3;
	text-transform: uppercase;
	background-color: var(--theme-bg-color);
	border-bottom: 1px solid var(--border-color);
}

.user-photo {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	object-fit: cover;
}

.user-name {
	font-weight: 600;
	margin: 15px 0 8px;
}

.user-mail {
	color: var(--main-light-color);
	font-size: 12px;
	font-weight: 600;
}

.user-profile {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.side-wrapper {
	padding: 25px 40px;
	border-bottom: 1px solid var(--border-color);
	&:last-child {
		border-bottom: none;
	}
}

.user-notification {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 25px;
	svg {
		width: 36px;
		padding: 10px;
		flex-shrink: 0;
		border-radius: 50%;
		overflow: visible;
		background-color: var(--button-bg-color);
		color: var(--button-color);
	}
}

.notify {
	position: relative;
	cursor: pointer;
	&:not(:last-child) {
		margin-right: 25px;
	}
	&.alert {
		position: relative;
		&:before {
			content: attr(data-alert);
			font-size: 9px;
			font-weight: 700;
			position: absolute;
			background-color: #ff537b;
			width: 14px;
			height: 14px;
			border-radius: 50%;
			top: -3px;
			display: flex;
			justify-content: center;
			align-items: center;
			right: 0px;
			color: #fff;
		}
		&:last-child:before {
			content: attr(data-alert);
		}
	}
}

.progress {
	margin-top: 5px;
	border-radius: 4px;
	background-color: #e7e7ef;
	height: 8px;
	overflow: hidden;
	&-bar {
		background-color: var(--button-color);
		border-radius: 4px;
		width: 35%;
		height: 100%;
		animation: progressAnimation 6s;
		transition: 0.3s linear both;
		transition-property: width, background-color;
	}
	&-status {
		margin-top: 30px;
		text-align: right;
		color: var(--main-color);
		font-size: 10px;
		font-weight: 600;
	}
}

@keyframes progressAnimation {
	0% {
		width: 5%;
		background-color: #a2b6f5;
	}
	100% {
		width: 35%;
	}
}

.task {
	&-status {
		margin-top: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&-stat {
		text-align: center;
	}
	&-number {
		font-size: 17px;
		font-weight: 700;
		margin-bottom: 10px;
	}
	&-condition {
		font-size: 12px;
		color: var(--main-color);
		font-weight: 700;
	}
	&-tasks {
		margin-top: 4px;
		font-size: 10px;
		font-weight: 600;
		color: var(--main-light-color);
	}
}

.project {
	&-title {
		text-transform: uppercase;
		font-weight: 700;
		margin-bottom: 18px;
	}
	&-department {
		position: relative;
		vertical-align: middle;
		padding: 0 30px;
		color: var(--main-color);
		font-size: 13px;
		font-weight: 600;
		margin-top: 14px;
		&:before {
			position: absolute;
			content: "";
			width: 8px;
			height: 8px;
			border-radius: 50%;
			top: 10;
			left: 0;
		}
		&:nth-child(1):before {
			border: 3px solid #b36dfb;
		}
		&:nth-child(2):before {
			border: 3px solid #625be8;
		}
		&:nth-child(3):before {
			border: 3px solid #fec267;
		}
		&:nth-child(4):before {
			border: 3px solid #fc6679;
		}
	}
}

.team-member {
	display: flex;
	justify-content: space-between;
}
